body {
  background-color: #fff;
  font-size: 30px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.tweet-content {
  font-size: 35px;
  color: #000;
  margin-top: 20px;
}

.avatar {
  padding: 10px;
}

.follow-button {
  color: #00aced;
  background: #fff;
  font-size: 35px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 15px;
  padding: 10px 30px 10px 30px;
}

.icon {
  margin-bottom: 50px;
}

.name {
  color: #000;
  font-weight: bold;
  position: fixed;
  left: 300px; top:100px; right:0; bottom:0;
}

.username, .date, .logo {
  color: grey;
  margin: 5px;
}

.logo {
  padding-right: 10px;
}

.logo2 {
  padding-left: 20px;
  padding-right: 7px;
}

.date {
  margin-bottom: 20px;
}

.username {
  position: fixed;
  left: 270px; top:140px; right:0; bottom:0;
  font-size: 20px;
}

.sidenav {
  position: fixed;
  left: 800px; top:92px; right:0; bottom:0;
  width: 700px;
}

#main {
  position: fixed;
  left:178px; top:92px; right:0; bottom:0;
}
